{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">About this project</h1>
            <div class="my-2">
                <img style="max-width: 600px; width: 100%;" src="{{ url_for('static', filename='img/flask+pytorch.png') }}" alt="">
            </div>
            <p class="lead">This project is aimed to help Pytorch machine learning developers to quickly build a Flask
                web app
                in a Docker container ready to be deployed. <br> <a
                    href="https://github.com/imadtoubal/Pytorch-Flask-Docker-App"> View on GitHub</a></p>
            <p>
                By default, this app uses MobileNetV2 image classifier that was pre-trained on the ImageNet dataset.
                This can be easily changed with any custom deep learning model. If you wish to contribute to the
                project, please feel free to add more example models. More explanation as to how to contribute can be
                dound in the GitHub repository link.
            </p>

        </div>
    </div>
</div>
{% endblock %}